/* app css stylesheet */

body,  .ui-widget {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background: #7EB3D8;
}
body{
/*   background-image:url('../img/background.jpg'); */
/*   background-repeat:no-repeat; */
/*   background-attachment:fixed; */
}
table{
	border-collapse: collapse;
	border-spacing:0px;
}
#sheet .line{
	cursor: pointer;
}
#sheet .line td{
	border-left: 1px dotted #000;
	border-right: 1px dotted #000;
	border-bottom: 0px dotted #000;
	border-top: 0px dotted #000;
	padding : 5px;
}
#sheet .selectedLine{
	background-color : #80E46E;
}
#sheet .lineHover{
	background-color: #FFFFAA;
}
#sheet .lineHover.selectedLine{
	background-color: #FFFFFF;
}
#sheet td{
	padding : 5px;
}
#sheet .sectionEven th,
#sheet .sectionEven td:first-child{
	border-left: 1px solid #FFF;
}
#sheet .sectionEven th,
#sheet .sectionEven td:last-child{
	border-right: 1px solid #FFF;
}
#sheet .sectionOdd th,
#sheet .sectionOdd td:first-child{
	border-left: 1px solid #c8d3dc;
}
#sheet .sectionOdd th,
#sheet .sectionOdd td:last-child{
	border-right: 1px solid #c8d3dc;
}
#sheet .sectionEven th{
	border-top: 1px solid #FFF;
}
#sheet .sectionOdd th{
	border-top: 1px solid #c8d3dc;
}



.ui-widget-header {
	border: 1px solid #c8d3dc;
}
#body, #copyright, #about_banner_info{
	width: 1024px;
}
#copyright{
	color: #fff;
	text-shadow: 1px 1px 0 #000;
}
#copyright a{
	color : #888;
}
#body{
	margin: 20px auto 0px auto;
	padding: 20px;
	background-color: rgba(255,255,255,0.30);
	border: 1px solid #888;
}
#copyright{
	margin: 0px auto 0px auto;
	text-align: right;
	font-size: 0.7em;
}
#title{
	background-color: #eceadf;
	color : #fff;
	text-shadow: 0px 0px 5px #000;
	border: 1px solid #c8d3dc;
	text-align: center;
	margin: 15px 100px 0px 100px;
	padding: 5px 100px 5px 100px;
	box-shadow: 1px 1px 5px #000;
}
#title, 
#copyright,
#skills .ui-state-default, 
#career .ui-widget-header,
#hobbies h2{
	font-family: "Lucida Console", Monaco, monospace;
}
#skills .ui-state-default{
	font-size : 0.9em;
	font-weight: bold;
	text-shadow: 0px 0px 5px #000;
}
#skills .domain *,
#career .ui-widget-header {
	cursor: default;
}
.ui-icon{
	display: inline-block;
}
#about_main_info{
	display : inline-block;
}
#about_mail a{
	color: inherit;
	text-decoration: none;
}
#about_phone_numbers,
#about_aux_info ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#about_phone_numbers label {
	display : inline-block;
	width : 50px;
}
#body > div{
	margin : 5px;
}
#header .ui-icon{
	height : 15px;
}
#about_toggle_other_mails{
	display : inline-block;
	width: 17px;
	height: 17px;
	vertical-align: middle;
}
#title h1, #title h2{
	margin: 0px auto 0px auto;
}
#title h1{
	
}
#other_mails{
	display: none;
}

#about_aux_info{
	float: right;
}
#about_banner_info{
	position: absolute;
	text-align : center;
	z-index: 0;
}
#about_main{
	position: relative;
	z-index: 10;
}
#about_main, #about_aux_info{
	text-shadow: 1px 1px 5px #000;
	color: #fff;
}
#career, #skills{
	display: inline-block;
	vertical-align: top;
}
#career{
	width : 72%;
}
#skills{
	width : 26%;
	padding-left: 10px;
}
#skills h3{
	font-size: 0.9em;
}
#skills .ui-progressbar {
	height: 1.3em;
	margin-bottom: 2px;
	border: 1px solid #c8d3dc;
	position: relative;
	background-color: #fff;
	box-shadow: 1px 1px 5px #000;
}
#skills .skill_hover{
	border-color: #FFFFAA;
}
#career .reference
{
	border: 1px solid #fff;
	padding: 6px 5px 6px 5px;
	margin: 1px 0px 2px 0px;
	
}
#studies .skill_hover,
#experiences .skill_hover,
#projects .skill_hover
{
	border: 1px solid #fff;
	border-style: solid;
	background: #fbdb93;
	text-shadow: 0px 0px 5px #444;
	color: #263D88;
}
#skills .skill_hover, #skills .skill_hover {
	background: #fbdb93;
}
#skills{
	
}
#skills .to_hide{
	display: none;
}

#skills .progress-label {
	position: absolute;
	top: 0px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 0px 5px #000;
	width: 100%;
}
#skills ul{
	padding : 0px;
	margin : 0px;
}
#skills .progress-skill-label,
#skills .progress-skill-rate{
	font-size: 0.8em;
	display: inline-block;
}
#skills .progress-skill-label{
	width : 80%;
	padding-left: 5px;
	cursor: default;
}
#skills img{
	vertical-align: -2px;
}
#skills .progress-skill-rate{
	width : 15%;
	color: #000;
	text-shadow: 0px 0px 5px #333;
}

#skills .domain{
	padding: 4px 0px 4px 5px;
	border: 1px solid #000;
	height: 1em;
	margin: 25px 0px 0px 0px;
	box-shadow: 1px 1px 5px #000;
}

.note{
	font-size: 0.8em;
}
.main_label{
	text-decoration: underline;
	text-shadow: 1px 1px 4px #000;
}
.main_label, .place, .company, .client{
	font-size: 0.9em;
}
.period {
	font-size: 1em;
}
.period, #projects .main_label{
	font-style: italic;
	display: inline-block;
	text-align: right;
	padding-right: 30px;
}
#studies .period,
#experiences .period,
#projects .main_label{
	width : 160px;
	font-size: 0.9em;
}
#experiences .main_label,
#experiences .company,
#experiences .place,
#experiences .client{
	display: inline-block;
}
.client{
	font-style: italic;
}
.tooltip{
	display: none;
}
#powerTip{
	position: absolute;
}
#powerTip img{
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
#powerTip img:hover{
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
#skills .ui-icon{
	float: right;
	height: 14px;
	margin-top: -1px;
	margin-right: 1px;
}
#career h2,
#hobbies h2,
#reference h3{
    font-size: 1em;
	font-weight: bold;
	
    text-shadow: 0px 0px 5px #000;
	padding: 2px 20px 2px 10px;
	margin: 0px 0px 0px 0px;
}
#career > div, #hobbies{
	border: 1px solid #c8d3dc;
	border-style: solid;
	margin-top: 25px;
	background-color: #fff;
	box-shadow: 1px 1px 5px #000;
}
#hobbies{
	margin-top : 10px;
	font-size: 0.8em;
	margin-bottom: 5px;
}
#hobbies .description {
	font-size: 0.9em;
}
#reference ul{
	margin: 0px;
	list-style-type: square;
	font-size: 0.9em;
}
#reference h3{
	margin: 0px;
	margin-bottom: 5px;
}
#hobbies .reference
{
	margin: 3px;
	padding: 0px 5px 0px 5px;
	
}
#projects .infos,
#studies .infos,
#experiences .infos{
	display : inline-block;
	width: 520px;
	vertical-align: top;
}
#skills img{
	border: 0px none;
}
#projects .infos{
	font-size: 0.8em;
	vertical-align: middle;
}
#hobbies{
	margin-top : 25px;
}
